body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
}
.hero {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
                url('../img/hero.jpg') no-repeat center center/cover;
    height: calc(100vh - 56px); /* Kurangi tinggi header */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
header {
    position: sticky;
    top: 0;
    z-index: 1020; /* Agar berada di atas konten lain */
}
.hero h1 {
    font-size: 3.5rem;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}
.hero p {
    font-size: 1.25rem;
    margin-top: 10px;
    color: #ddd;
}
/* Features Section */
.features .icon {
    font-size: 3rem;
    color: #007bff;
}

.features h3 {
    margin-top: 10px;
    font-weight: bold;
}

/* Footer */
footer {
    background-color: #343a40;
    color: #ffffff;
    padding: 20px 0;
    font-size: 0.9rem;
}
